
#titleRectangle {
	position: absolute;
	top: 0px;
	left: 0px;
    background: #000080;
    height: 120px;
    width: 1525px;
}
#title-text {
	position:absolute;
	left: 440px;
	top: 0px;
	font-size: 25px;

}


#round {
	position: absolute;
	top: 120px;
	left: 0px;
    background: #A6ACAF;
    height: 50px;
    width: 1525px;
}

#background {
	position: absolute;
	top: 170px;
	left: 0px;
    background: #F2F3F4;
    height: 2000px;
    width: 2000px;
}

#playerSide {
	position: absolute;
	top: 200px;
	left: 50px;
    background: #D6DBDF;
    height: 550px;
    width: 450px;
}

#opponentSide {
	position: absolute;
	top: 200px;
	left: 950px;
    background: #D6DBDF;
    height: 550px;
    width: 450px;
}


#playerTitle {
	position: absolute;
	top: 200px;
	left: 50px;
    background: #00006F;
    height: 80px;
    width: 450px;
}

#opponentTitle {
	position: absolute;
	top: 200px;
	left: 950px;
    background: #00006F;
    height: 80px;
    width: 450px;
}


#playerScoreBanner {
	position: absolute;
	top: 680px;
	left: 50px;
    background: #000080;
    height: 80px;
    width: 450px;
}

#opponentScoreBanner {
	position: absolute;
	top: 680px;
	left: 950px;
    background: #000080;
    height: 80px;
    width: 450px;
}


#player-text-header {
	position:absolute;
	left: 250px;
	top: 205px;
	font-size: 15px;
}

#opponent-text-header {
	position:absolute;
	left: 1120px;
	top: 205px;
	font-size: 15px;
}

.buttons {
	padding: 10px 24px; 
	position: absolute;
    width: 10px;
    top: 320px;
    left:140px;
}

.action_btn {
    height:90px;
    width: 240px;
	cursor: pointer;
    border:solid .2px transparent;
    background-color: whitesmoke;
    border-radius: 50px;
    font-size: 25px;

}

.action_btn:hover {
    height:90px;
    width: 240px;
	cursor: pointer;
    border:solid .2px transparent;
    background-color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    font-size: 30px;

}
#question {
	position:absolute;
	font-size: 50px;
	top:350px;
	left:1130px;
	font-size: 230px;
}



